@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define styles for markdown content */
.markdown h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.markdown h2 {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.markdown p {
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown a {
    color: cornflowerblue;
    text-decoration: underline;
}

.markdown img {
    display: block;            /* Centers the image when margin is set to auto */
    margin: 1rem auto;         /* Auto margins for horizontal centering */
    max-width: 100%;           /* Ensures the image is responsive */
    height: auto;              /* Maintains aspect ratio */
    border-radius: 8px;        /* Optional: adds rounded corners */
}
/* Add bullet points to unordered lists within markdown content */
.markdown ul {
    list-style-type: disc;      /* Ensures bullet points are visible */
    padding-left: 1.5rem;       /* Adds indentation for better readability */
    margin-bottom: 1rem;        /* Adds spacing after the list */
}

/* Adjust list items spacing */
.markdown ul li {
    margin-bottom: 0.5rem;      /* Adds space between list items */
}